---
import './hero.css';

---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Cintia Losada</h1>
			<p class="hero__text">
				Desarrolladora full stack Jr.<br />
                Me especializo en la creación de sitios y aplicaciones web. 
                Tengo experiencia en el uso de tecnologías modernas y herramientas de diseño.
			</p>
		</div>
    <img
		class="hero__img"
		src="/img/cintia-losada.png"
		alt="Cintia Losada"
		width="384"
    	height="384"
	/>
	</div>
</section>
