---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Tengo experiencia con HTML, CSS y JavaScript. Actualmente estoy aprendiendo TypeScript para mejorar mi código.
        </p>
        <p>
            Trabajo con frameworks como React, Astro, Next.js, Node.js y Express.js.
        </p>
        <p>
            He trabajado con WordPress para crear sitios web y tiendas en línea.
            Utilizo herramientas como Tailwind, Bootstrap y Figma para crear diseños modernos y responsivos.
        </p>
        <p>
            Estoy familiarizada en el uso de bases de datos como MongoDB, MySQL y PostgreSQL.
        </p>
        <p>
            Utilizo GitHub para colaborar en proyectos y mantener un flujo de trabajo eficiente.

		</p>
	</div>
</section>
