---
import { Image } from 'astro:assets';
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"

---

<section id="about" class="about">
	<div class="about__container">
		<Image
			class="about__img"
			src="/img/cintia-losada.webp"
			alt="Foto de perfil de Cintia Losada"
            width="384"
            height="384"
            format={['webp', 'jpeg']}
            placeholder="blur"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				¡Hola! Soy Cintia. Me apasiona la tecnología y la creatividad. <br />
                Aquí encontrarás mis proyectos y habilidades en el desarrollo web. <br /> 
                Estoy comprometida en crecer en este campo, expandir mis habilidades y conocimientos para colaborar en nuevos proyectos.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
