---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="CintiaLosada">
	<div class="terminal__skills">
		<h2>Mis habilidades</h2>
		<div class="terminal__skills__container">
            <TerminalIcon
                src="/assets/html.svg"
                color="#FF6D00"
                name="HTML"
            />
            <TerminalIcon 
                src="/assets/css.svg" 
                color="#00A3FF" 
                name="CSS" 
            />
            <TerminalIcon
                src="/assets/javascript.svg"
                color="#FFD600"
                name="JavaScript"
            />
            <TerminalIcon
                src="/assets/typescript.svg"
                color="#007ACC"
                name="TypeScript"
            />
            <TerminalIcon
                src="/assets/react.svg"
                color="#00D1FF"
                name="React"
            />
            <TerminalIcon
                src="/assets/astro.svg"
                color="#FFD600"
                name="Astro"
            />
            <TerminalIcon
                src="/assets/nodejs.svg"
                color="#8CC84B"
                name="Node.js"
            />
            <TerminalIcon
                src="/assets/wordpress.svg"
                color="#21759B"
                name="WordPress"
            />
            <TerminalIcon
                src="/assets/tailwind.svg"
                color="#06B6D4"
                name="Tailwind"
            />
            <TerminalIcon
                src="/assets/bootstrap.svg"
                color="#7738ff"
                name="Bootstrap"
            />
            <TerminalIcon
                src="/assets/mongodb.svg"
                color="#4DB33D"
                name="MongoDB"
            />
            <TerminalIcon
                src="/assets/mysql.svg"
                color="#00758F"
                name="MySQL"
            />
            <TerminalIcon
                src="/assets/npm.svg"
                color="#F05032"
                name="Npm"
            />
            <TerminalIcon
                src="/assets/sass.svg"
                color="#2C8EBB"
                name="Sass"
            />
		</div>
	</div>
</Terminal>
